<article class="billet billet-{{ article.size }}" data-id="billet">
    <div class="billet-content">
        <figure class="billet-image">
            <img src="{{ article.image }}" />
        </figure>

        <div class="billet-description">
            {{ article.preview_rendered | raw }}

            <a href="{{ route('article', {'url': article.url}) }}" class="button">
                {{ article.content_open | default('В оригинале')  }}
            </a>
        </div>
    </div>
</article>