{% extends "layout/master.twig" %}

{% block header %}
    {% include "partials/header.twig" %}
{% endblock %}

{% block title %}
    &mdash; {{ article.title }}
{% endblock %}

{% block content %}
    <section class="section">
        <article class="content article">
            <h1>{{ article.title }}</h1>
            {% if article.part %}
                <h2>Часть {{ article.part.part }}</h2>
            {% endif %}

            <time datetime="{{ article.publish_at.toIso8601String() }}">
                {{ article.publish_at.format('d-m-Y') }}
            </time>

            <div class="article-content" data-vm="Article">
                {% if article.part %}
                    <nav class="article-contents">
                        <h3>{{ article.part.series.title }}</h3>
                        <h4>Навигация</h4>

                        <ul>
                        {% for part in article.parts %}
                            <li>
                                {% if part.part == article.part.part %}
                                    <strong>
                                        {{ part.article.title }}
                                    </strong>
                                {% else %}
                                    <a href="{{ route('article', {'url': part.article.url}) }}">
                                        {{ part.article.title }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </nav>
                {% endif %}

                {{ article.content_rendered | raw }}

                <nav class="article-footer">
                    {% set prev = article.part.prev %}
                    {% set next = article.part.next %}

                    {% if prev %}
                        <a class="button article-footer-prev"
                            title="{{ prev.article.title }}: Часть {{ prev.part }}"
                            href="{{ route('article', {'url': prev.article.url}) }}">
                            &laquo; Предыдущая статья
                        </a>
                    {% else %}
                        <span class="button article-footer-prev">
                            &laquo; Предыдущая статья
                        </span>
                    {% endif %}

                    {% if next %}
                        <a class="button article-footer-next"
                            title="{{ next.article.title }}: Часть {{ next.part }}"
                            href="{{ route('article', {'url': next.article.url}) }}">
                            Следующая статья &raquo;
                        </a>
                    {% else %}
                        <span class="button article-footer-next">
                            Следующая статья &raquo;
                        </span>
                    {% endif %}
                </nav>
            </div>

            {% include "pages/article/parital/buttons-min.twig" %}
        </article>
    </section>
{% endblock %}