<article class="billet" data-bind="inview: function(state, value) { showBillet(state, value); }">
    <div class="billet-content">
        <figure class="billet-image">
            <img src="{{ article.image }}" />
            <span class="billet-info">
                {% if article.relation.category %}
                    <span class="billet-category" style="color: {{ '#' ~ article.relation.category.color }}">
                        {{ article.relation.category.title }}
                    </span>
                {% endif %}
                {% if article.relation.category %}
                    /
                {% endif %}
                {% if article.relation %}
                    <time class="billet-time" datetime="{{ article.relation.publish_at.toIso8601String() }}">
                        {{ article.relation.publish_at.diffForHumans() }}
                    </time>
                {% endif %}
            </span>

            {% if article.relation %}
                <h2>{{ article.relation.title }}</h2>
            {% endif %}
        </figure>

        <div class="billet-description">
            {% if article.type == 'Text' %}
                <p>{{ article.content }}</p>
            {% else %}
                {{ article.content | raw }}
            {% endif %}

            {% if article.relation %}
                <a href="{{ route('article', {'url': article.relation.url}) }}" class="button">
                    {{ article.button_description | default('В оригинале')  }}
                </a>
            {% endif %}
        </div>
    </div>
</article>